ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #67879B;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #517388;
}
.active {
  background-color: #04AA6D;
}

  
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 2em;
        }

  section {
            max-width: 800px;
            margin: 2em auto;
            padding: 2em;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


           footer {
            text-align: center;
            padding: 1em;
            background-color: #333;
            color: white;
        }

h2 {
	background-color: #333;
        color: white;
        text-align: center;
        padding: 2em;
	}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


.works-cited  {
            word-wrap: break-word; /* Break words to fit */
            overflow: hidden; /* Hide overflowing content */
        }

        .works-cited h2 {
            margin-bottom: 0.5em;
        }

        works-cited ol {
            padding: 0;
            list-style: none;
        }

        works-cited li {
            margin-bottom: 0.5em;
        }

section img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 1em 0; /* Optional margin adjustment */
        }
   img {
            display: block; /* Make the image a block element */
            margin: auto; /* Center the image horizontally */
            max-width: 100%; /* Ensure the image does not exceed its container */
            height: auto; /* Maintain aspect ratio */
            width: 150%; /* Adjust the width to make the image bigger */
        }


